@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}
